<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stayle.css') }}">

</head>
<body>
    <div class="txt"><h1>ياهلا</h1></div>
    <form id="box-login" class="box-login box" action="{{ url_for('admin_page') }}" method='POST'>
        <h2 class="txt">تسجيل الدخول</h2>
        {% if error %} <p style="color:red" >{{error}}</p>{% endif %}
        <input type="text" class="login box" name="username" id="login-username" placeholder="اسم المستخدم">
        <input type="password" class="login box pass" name="password" id="login-password" placeholder="الرمز">
        <button type="submit" class="btn-login box" id="btn-login">تسجيل</button>
    </form>
    
</body>
<script src="{{ url_for('static', filename='clinic.js') }}"></script>
</html>